<!DOCTYPE html>
<html lang="pt-br">
<%- include('share/head') %>
<body>
    <%- include('share/header') %>
   

<section class="casa">
        <div class="viagem">
            <h1 class="titulo">Viage para California</h1>
            <p>Hotel - Fairmont San francisco</p>
            <p>Preço por pessoa R$5.250</p>
            <p>Total 2 pessoas R$10.774</p>
        </div>
        <img id="img" src="../static/california.png" alt="">
        <div>
            <h6>california</h6>
            <section>
                    Localizada no extremo oeste dos Estados Unidos, a Califórnia é um dos maiores Estados do país. O mesmo limita-se com o Oceano Pacífico a oeste, Oregon ao norte, Arizona e Nevada a leste e o Estado mexicano de Baja California ao sul. A Califórnia é conhecida como Golden State (Estado Dourado), nome dado em razão de a mesma ter atraído dezenas de milhares de pessoas na corrida pelo ouro em 1849. O Estado foi anexado pelos estadunidenses na década de 1850, em uma guerra com o México.

                    O Estado é um dos maiores dos Estados Unidos, possuindo a terceira maior dimensão territorial. A Califórnia também é o mais populoso, com uma população de quase 33.871.648 milhões de habitantes. Quatro das maiores cidades estadunidenses estão localizadas na Califórnia: Los Angeles, São Francisco, San Diego e São José.
                    
                    A importância econômica do Estado é enorme. Uma prova disso é o fato do mesmo ser o maior centro industrial dos Estados Unidos. Se a Califórnia fosse um país, seria a sétima economia mundial, uma vez que seu PIB é de 1,55 trilhão de dólares (2004). No Estado se localiza o Vale do Silício, região que abriga um conjunto das maiores empresas do mundo da área de tecnologia e informática. Além disso, a Califórnia é a líder nacional na produção de produtos agropecuários.
                    Não pare agora... Tem mais depois da publicidade ;)
                    
                    O clima predominante no Estado é o temperado mediterrâneo. As temperaturas podem ser muito altas no verão, com médias de 33ºC, e frias no inverno, principalmente na região nordeste. A Califórnia é o Estado estadunidense com o maior contingente de imigrantes latino-americanos; cerca de 93% de sua população vive em áreas urbanas.
                    
                    Por Tiago Dantas
                    
                    Equipe Brasil Escola
            </section>