<!DOCTYPE html>
<html lang="pt-br">
<%- include('share/head') %>
<body>
    <%- include('share/header') %>
    <section class="casa">
        <a href="/cancun">
            <img id="img" src="../static/cancun.png" alt=" ">
        </a>
    </div>
</section>
<section> 
    <h6>Sobre Cancun</h6>
    <p>
        CANCUN
        Localizada na costa do estado de Quintana Roo, na Península de Yucatán, Cancun é um dos centros turísticos mais importantes e visitados do mundo. A 22 km da capital do estado, a cidade possui um aeroporto próprio, o Aeroporto Internacional de Cancun (CUN), que recebe voos de várias companhias aéreas dos mais diversos países. Aos brasileiros, é oferecida a isenção de visto, o que facilita a entrada e estadia nos mais incríveis resorts.
        
        Esta maravilha mexicana abriga 22 km de extensão de praias que remetem a um verdadeiro paraíso. Águas cristalinas, quentes, calmas e em tons variados de azul acompanhadas de areias brancas e finas e de uma infraestrutura de excelência despertam os sonhos de milhões de pessoas do mundo todo em especial o dos brasileiros. Além disso, na paisagem abundam flores exóticas, como os flamboyanes, que enfeitam as calçadas e as praças (e cujo nome faz referência à deslumbrante explosão laranja avermelhada), e uma fauna fascinante, da qual fazem parte as pré-históricas iguanas.
        
        Trajetória
        Mas a trajetória do lugar como um bem-sucedido polo de atrações é relativamente nova. No final de 1960, o governo mexicano criou um fundo de desenvolvimento para o setor, com o objetivo de expandir este potencial turístico não só para os mexicanos. E então, em 1970, Cancun começou a ganhar a aparência atual, reunindo conforto e modernidade à exuberante beleza nativa. Isso mesmo, fora a generosidade da natureza, foi tudo planejado para fazer você suspirar o tempo todo.
        Boa parte dos turistas de Cancun estão em busca de sol e agitação, porém todos que a conhecem se deslumbram ainda com a riqueza de sua cultura ancestral, presente nas cidades maias, como Tulum e Chichén Itzá, fundadas na era pré-colombiana (período de 2000 AC até o início das Grandes Navegações).
        
        As construções históricas de Cancun ficam em sítios arqueológicos relativamente próximos da Zona Hoteleira. Nas cidades vizinhas, é possível apreciar preciosidades como o Templo de Tulum, uma fortaleza erguida sobre uma falésia espetacular, e as pirâmides de Cobá, grandes mistérios deixados pela sábia civilização que primeiro povoou a região.
        
        Um Mar de Entretenimento
        Cancun também não decepciona aqueles que gostam de esporte, pois ostenta desde campos de golfe a florestas para caminhadas e muitas aventuras, além de incríveis arrecifes de coral, perfeitos para a prática de snorkel e mergulhos. Sem falar nos nados com os adoráveis golfinhos, leões-marinhos, tartarugas, entre outros deslumbrantes animais. Porém se você quiser deitar em uma praia, acariciando seus pés bronzeados na companhia do Mar do Caribe, sem dúvida, esta é a sua escolha.
        Este destino vai proporcionar a você o melhor de muitos mundos: do Caribe e do México; dos tempos modernos e dos antigos; da adrenalina e da tranquilidade. Não há nenhum outro lugar da Terra que ofereça ao mesmo tempo tamanha diversidade em tesouros culturais, belezas naturais, atividades e a mais confortável e charmosa infraestrutura, capaz de satisfazer até o estilo de vida mais exigente.
        
        História
        A palavra “Cancun” tem origem na civilização maia e seu significado mais aceito é “ninho de serpentes”. A segunda versão mais conhecida é “lugar da serpente dourada”, devido ao fato de a ilha de ter a forma do número “7”, e, no amanhecer, aparentar uma serpente dourada por conta do reflexo do sol.
        
        Se relacionarmos a história de Cancun às expedições espanholas, a cidade foi descoberta em 1517 pelo explorador espanhol Francisco Hernández de Córdoba. Mas a verdade é que os maias já possuíam uma desenvolvida cultura muito antes disso. Sua escrita (único sistema do Novo Mundo que podia representar a língua falada no mesmo grau de eficiência que o idioma escrito no Velho Mundo), arte, arquitetura, matemática e sistemas astronômicos são admirados e deixam um impressionante legado até os dias de hoje.
        
        Durante os períodos clássico mesoamericano (século III a início do X) e pós-clássico (até a chegada dos espanhóis), o povo maia manteve uma intensa rede comercial, e, com o intuito de realizar esta atividade, traçou rotas que se estendiam por toda costa de Quintana Roo. Assim, realizaram as suas primeiras construções à beira mar, facilitando a troca de mercadorias com habitantes de outras regiões.
        
        E, para deleite dos viajantes, estas histórias e edificações fabulosas estão preservadas e prontas para encher seus olhos de encantamento!
        
        Clima
        A temperatura média anual de Cancun é de 27°C, portanto o calor está presente durante todo o ano. Mesmo no inverno, a temperatura fica na casa dos 24°C, com dias quentes e noites frescas. No verão, o calor se mantém no dia e na noite, atingindo a faixa dos 29°C. O clima ameno com chuvas escassas é um dos motivos que tornam Cancun um lugar atraente que movimenta o turismo em todas as estações.
        
        Ao contrário da região do Pacífico, Cancun garante um banho de mar agradável, com águas quentes e tranquilas.
        Meses mais quentes: da 2ª quinzena de abril a 1ª quinzena de outubro.
        Meses mais frescos: de 2ª quinzena de outubro a 1ª quinzena de Abril
        
        Informações importantes
        – Para evitar qualquer incômodo, é recomendável ter a passagem de avião de volta do México para o Brasil e reservas em um hotel no país visitado, além de passaporte válido por mais de seis meses. Isso mesmo, é muito fácil! Não são mais necessários vistos ou autorizações eletrônicas.
        
        – A permanência no México sem visto é de no máximo 180 dias.(6 meses)
        
        Como Chegar
        – Para partir para o paraíso caribenho, em geral, os voos têm escalas, o que pode prolongar a duração para cerca de 14 horas. Você pode utilizar a brasileira TAM Linhas Aéreas ou uma série de empresas estrangeiras, basta observar os países nos quais serão feitas as conexões. Nas companhias americanas, por exemplo, as paradas costumam ser em Miami, condição que exige do viajante um visto americano.
        
        Algumas escolhas são: American Airline, LAN Airlines, Air Canada, Copa, Aerolineas Argentinas, Air Europa, United, Avianca, Condor, Aeroméxico, Air France, Lufthansa, Delta, British Airways e Iberia. Também existem excelentes opções de voos diretos do Brasil para a Cidade do México, capital do país, que fica a apenas duas horas de Cancun.
        
        Moeda
        Em Cancun utiliza-se o peso mexicano, a décima terceira que mais circula no mundo e a primeira na América Latina. É possível trocar reais por pesos em bancos, aeroportos e em casas de câmbio do Brasil. Em solo mexicano, o visitante irá encontrar melhores cotações em bancos e casas de câmbio na Zona Hoteleira. É necessário apresentar o passaporte. Algumas opções são: Banamex – Plaza Terramar & Royal Mayan – km 17, tel. 52 (998) 883-3100; BBVA-Bancomer – Boulevard Kukulcan – km 9, tel. 52 (998) 883-1128; HSBC – Plaza Caracol, tel. 52 (998) 883-4652. O dólar também é bem aceito, mas o troco é devolvido em moeda mexicana.
        
        – Em Cancun, a diferença horária varia de duas a quatro horas a menos, sendo de duas horas a menos em relação a maioria das cidades brasileiras.
        
        – Você pode apresentar apenas a carteira nacional de habilitação válida para dirigir em Cancun.
        
        – Não é preciso nenhum tipo de certificado de vacinação.
        
        – A voltagem em Cancun é de 110W. O pino é o padrão americano. Portanto, recomenda-se levar um adaptador universal.
        
        – A cozinha típica mexicana se apresenta variada e um pouco condimentada. Se não for de seu agrado, solicite sua refeição não picante (sem pimenta).
        
        – O Aeroporto Internacional de Cancun (www.asur.com.mx) está localizado a cerca de 20 km da Zona Hoteleira, que concentra a região turística.
        
        -assim como no Brasil costuma-se deixar 10% do preço da refeição como gorjeta aos garçons (às vezes o valor já vem incluído na conta).
        
        – Na Zona Hoteleira, a maior parte dos centros comerciais funciona entre 10h e 22h. Já os bancos, operam das 9h às 16h, e os correios abrem das 9h às 15h.</p>
    </section>