<!DOCTYPE html>
<html lang="pt-br">
<%- include('share/head') %>
<body>
<%- include('share/header') %>
    <section class="bloco">
        <h1 id="titulo1">Quem somo nós!</h1>
        <p id="texto">A Travel company faz tudo por uma boa viagem. Por isso trabalha para transformar essa experiência na melhor conquista de sua vida, através de novas tendências e ampla rede de produtos e serviços turísticos. É essa forma de pensar que estabelece a Travel company       como a maior operadora de turismo da América Latina. 
        O comprometimento social, a solidez e a inovação propiciaram notoriedade e visibilidade junto ao público. A Travel company foi a primeira companhia a fretar aviões, a investir em um novo canal de distribuição com rede multimarca de produtos turísticos, a desenvolver o conceito de atendimento em shoppings e hipermercados, além de oferecer o parcelamento de viagens em 10 vezes sem juros e valores que cabem no bolso do consumidor.</p>
    </section>
    <img id="aero" src="../static/Aeroporto.png" alt="aeroporto">
    <%- include('share/footer') %>
</body>
</html>