<!DOCTYPE html>
<html lang="pt-br">
<%- include('share/head') %>
<body>
    <%- include('share/header') %>
   
       
    </section>
    
    <a href="/londres">
        <img id="img" src="../static/Londres.png" alt="">
         </a>
    </div>
</section>  

<section class="casa">
    <div class="viagem">
        <h1 class="titulo">Viage para California</h1>
        <p>Hotel - Fairmont San francisco</p>
        <p>Preço por pessoa R$5.250</p>
        <p>Total 2 pessoas R$10.774</p>
    </section>  
    
    <h6>londres</h6>
    <section>Vibrante, moderna, elegante, movimentada, riquíssima em cultura e opções de entretenimento. Características como essas, entre tantas outras, deixam claro por que Londres é um dos destinos mais procurados do mundo. A capital da Inglaterra e do Reino Unido é, também, a sede da monarquia britânica, cidade que abriga o Big Ben e tantos outros cartões-postais famosos, como a ponte da Torre de Londres, que fica às margens do rio Tâmisa; o palácio de Buckingham; a Abadia de Westminster, além de vários museus interessantíssimos.

            Prepare-se para dias muito intensos; é preciso ter bastante pique se a intenção é conhecer bem a capital inglesa. Por esse motivo, recomenda-se uma estadia de, no mínimo, quatro dias. Boa parte das principais atrações de Londres se concentram nas zonas 1 e 2 (levando em consideração o mapa do transporte público) e é possível, além de bastante agradável, ir a pé de um ponto turístico a outro. Mas o mais provável é que o visitante faça bastante uso do eficiente transporte público local (o metrô, por exemplo, é considerado um dos melhores do mundo).
            
            
            A língua oficial é o inglês e o turista que domina esse "idioma universal" não terá dificuldades, mesmo que o elegante sotaque britânico seja um pouco difícil de entender, no início. Porém, como toda cidade cosmopolita que se preze, Londres reúne pessoas do mundo todo; incluindo uma quantidade enorme de brasileiros, habitantes ou apenas turistas. A moeda local é a libra esterlina (Pound sterling), considerada uma das mais fortes economicamente (superando o dólar e o euro). E mesmo que à primeira vista tudo pareça demasiadamente caro, saiba que é possível pechinchar e encontrar boas ofertas.
            
            Explore cada cantinho das charmosas ruas e avenidas desta que é a maior e mais importante cidade da Inglaterra; ande em um dos tradicionais ônibus de dois andares e tenha uma visão privilegiada de lugares inesquecíveis. Como manda o figurino, tome o chá das 17h em algum café ou casa especializada ou caminhe em um dos parques repletos de verde, extremamente limpos e bem conservados. Essas e muitas outras dicas foram selecionadas cuidadosamente pela equipe do Melhores Destinos, que o convida a conhecer um pouquinho mais dessa metrópole multifacetada e cheia de energia.</section>