<!DOCTYPE html>
<html lang="pt-br">
<%- include('share/head') %>
<body>
    <%- include('share/header') %>
    <section class="casa">
        <div class="viagem">
            <h1 class="titulo">Viage para Cancun</h1>
            <p>Hotel - Posada Chichen Ltza</p>
            <p>Preço por pessoa R$2.835</p>
            <p>Total 2 pessoas R$5.870</p>
        </div>
        <div>
            <img id="img" src="../static/cancun.png" alt="">
        </div>
    </section>
    
    <section class="casa">
        <div class="viagem">
            <h1 class="titulo">Viage para Londres</h1>
            <p>Hotel - The londonears Hostel</p>
            <p>Preço por pessoa R$6.495</p>
            <p>Total 2 pessoas R$12.990</p>
        </div>
        <div>
            <img id="img" src="../static/Londres.png" alt="">
        </div>
    </section>  
    
    <section class="casa">
        <div class="viagem">
            <h1 class="titulo">Viage para California</h1>
            <p>Hotel - Fairmont San francisco</p>
            <p>Preço por pessoa R$5.250</p>
            <p>Total 2 pessoas R$10.774</p>
        </div>
        <div>
            <img id="img" src="../static/california.png" alt="">
        </div>
    </section>      
    <%- include('share/footer') %>
</body>
</html>