<footer>
    <nav class="digitar">
        <form method="POST">
            <input type="text" placeholder="nome completo" name="nome">
            <input type="text" placeholder="Destino" name="destino">
            <input type="text" placeholder="E-mail" name="email">
            <textarea placeholder ="Mensagens" name="Mensagens" cols="30" rows="10"></textarea>
            <button>enviar</button>
        </form>
    </nav>
</footer>