<footer>
    <nav class="digitar">
        <input type="text" placeholder="nome completo" name="nome completo">
        <input type="text" placeholder="Destino" name="Destino">
        <input type="text" placeholder="E-mail" name="E-mail">
        <textarea placeholder ="Mensagens" name="Mensagens" cols="30" rows="10"></textarea>
        <button>enviar</button>
    </nav>
</footer>